{% extends 'base.html' %}

{% load bootstrap3 %}

{% block title %}
    About
{% endblock %}

{% block content %}

    <h2>Project Details</h2>
    <p>This will be our about page.  Use these Bootstrap guides for styling and formatting:<br><br>
    <a href="http://getbootstrap.com/css/#type">Boostrap 3</a></p>

    
    
    <div class="row">

        <div class="col-md-12">

                <dl class="pull-left">
                    <dt style="font-size: 1.5em;">Sri K.</dt>
                    <dd>Data Scientist</dd>
                    <dd style="margin-top: 10px;">
                        <a href="https://github.com/dyerrington"><i class="fa fa-github-square fa-2x"></i></a>
                        <a href="https://www.linkedin.com/in/davidyerrington"><i class="fa fa-linkedin-square fa-2x"></i></a>
                        <a href="https://twitter.com/dyerrington"><i class="fa fa-twitter-square fa-2x"></i></a>
                    </dd>
                </dl>

                <dl class="pull-left">
                    <dt style="font-size: 1.5em;">Azi "The Man"</dt>
                    <dd>Geologist</dd>
                    <dd style="margin-top: 10px;">
                        <a href="http://www.groundtruthtrekking.org/"><i class="fa fa-globe fa-2x"></i></a>
                        <a href="https://www.linkedin.com/pub/bretwood-higman/19/1a7/769"><i class="fa fa-linkedin-square fa-2x"></i></a>
                    </dd>
                </dl>

                <dl class="pull-left">
                    <dt style="font-size: 1.5em;">David Yerrington</dt>
                    <dd>Data Scientist</dd>
                    <dd style="margin-top: 10px;">
                        <a href="https://github.com/dyerrington"><i class="fa fa-github-square fa-2x"></i></a>
                        <a href="https://www.linkedin.com/in/davidyerrington"><i class="fa fa-linkedin-square fa-2x"></i></a>
                        <a href="https://twitter.com/dyerrington"><i class="fa fa-twitter-square fa-2x"></i></a>
                    </dd>
                </dl>

        </div>
    </div>

{% endblock %}
