{% extends 'base.html' %}

{% load bootstrap3 %}

{% block title %}
    Decision Tree and Feature Importance
{% endblock %}

{% block content %}

    <h1>Feature Importance</h1>
    This is an interactive visualization that illustrates a particular decision tree of the random forest. The earlier the feature is on the tree, the more important it is. In addition, the thickness of the line also represents the degree of importance of that feature. 

    <iframe src="https://bigml.com/embedded/model/25KA9MzaqsPhR11L3wZxMFleB2e/tree" frameborder="0" allowtransparency="true" allowfullscreen="allowfullscreen" width="940px" height="1200" scrolling="no"></iframe>

{% endblock %}
