{% extends 'base.html' %}

{% block bootstrap3_extra_head %}
    <link rel="stylesheet" href="http://libs.cartocdn.com/cartodb.js/v3/3.15/themes/css/cartodb.css" />

    <script src="http://libs.cartocdn.com/cartodb.js/v3/3.15/cartodb.js"></script>
    <script src="https://code.jquery.com/ui/1.7.2/jquery-ui.min.js"></script>

    <script>

    var map;
    var globalLayer;
    var viz;

    function init(){
      // initiate leaflet map
      // map = new L.Map('map', { 
      //   center: [40,-98],
      //   zoom: 4
      // })

      function openInfowindow(layer, latlng, cartodb_id) {
        layer.trigger('featureClick', null, latlng, null, { cartodb_id: cartodb_id }, 0);
      }

      // var layerUrl = 'http://documentation.cartodb.com/api/v2/viz/236085de-ea08-11e2-958c-5404a6a683d5/viz.json';
      var layerUrl = 'https://dyerrington.cartodb.com/api/v2/viz/37406786-82b3-11e5-8347-0ea31932ec1d/viz.json';
      // var layerUrl = 'https://kskk02.cartodb.com/api/v2/viz/ad5c590a-8adf-11e5-bbde-0e674067d321/viz.json';

      viz  = cartodb.createVis('map', layerUrl, {
        center: [40,-98],
        zoom: 4        
      }).done(function(vis, layers) {

        // vis.addOverlay({
        //     type: 'infowindow',
        //     template: $('#infobox_template').html()
        // })

        var map = vis.getNativeMap();

        var legend = new cdb.geo.ui.Legend({
            type: "custom",
            data: [
                { name: "Category 1", value: "#FFC926" },
                { name: "Category 2", value: "#76EC00" },
                { name: "Category 3", value: "#00BAF8" },
                { name: "Category 4", value: "#D04CFD" }
            ]
         });

        $('#map').append(legend.render().el);

        // var v = cdb.vis.Overlay.create('search', map.viz, {})
        // v.show();
        
        // $('#map').append(v.render().el);
        

        cartodb.createLayer(map, layerUrl)
        .addTo(map)
        .on('done', function(layer) {

            console.log('what in tarnation is going on here..')
            globalLayer =   layer
            
            // vis.addOverlay({
            //     type: 'infobox',
            //     template: $('#infobox_template').html()
            // })

            var county  =   layer.getSubLayer(0).set(countyOptions);
            var state   =   layer.getSubLayer(1).set(stateOptions);


        }).on('error', function(err) {
            // log the error
            console.log('booo error', err)
        });

        var stateOptions = {
            sql: "SELECT * FROM ne_50m_admin_1_states",
            // cartocss: "#example_cartodbjs_1{marker-fill: #109DCD; marker-width: 5; marker-line-color: white; marker-line-width: 0;}"
        }
      
        // change the query for the first layer
        var countyOptions = {
            sql: "SELECT * FROM cb_2013_us_county_500k",
            // cartocss: "#example_cartodbjs_1{marker-fill: #109DCD; marker-width: 5; marker-line-color: white; marker-line-width: 0;}"
        }

        var county  =   layers[1].getSubLayer(0).set(countyOptions);
        var state   =   layers[1].getSubLayer(1).set(stateOptions); 

        county.set('template', $('#infowindow_template').html());

            county.hide();

            // console.log('Whats our other layer doing?', layer.getSubLayer(1))

            state.on('featureClick', function(e, latlng, pos, data) {
                // alert("Hey! You clicked " + data.cartodb_id);
                console.log('Our data for state is:', data['code_local'].substring(2));

                // toggle detail ui elements
                $('.global-ui').toggle();
                $('.detail-ui').toggle();

                var statecode = data['code_local'].substring(2);
                county.show();
                state.hide();

                var account_name = 'dyerrington';
                var sql = cartodb.SQL({ user: account_name });

                sql.execute("SELECT " +
                    "st_x(st_centroid(st_collect(the_geom))) lon, " +
                    "st_y(st_centroid(st_collect(the_geom))) lat " +
                    "FROM cb_2013_us_county_500k " +
                    "WHERE statefp ilike '" + statecode + "' GROUP BY statefp").done(function(data) {
                    
                    // Check if there are results
                    if(data.rows.length > 0) {
                        map.setView([data.rows[0].lat, data.rows[0].lon], 6, { animate: true});
                        console.log("SELECT * FROM cb_2013_us_county_500k WHERE statefp = '" + statecode + "'");
                        county.set({'sql': "SELECT * FROM cb_2013_us_county_500k WHERE statefp = '" + statecode + "'"});
                    }
                });

            });

            county.on('featureClick', function(e, latlng, pos, data) {
                
                console.log('featureClick() ........')
                // alert("Hey! You clicked " + data.cartodb_id);
          // $('.link').click(function() {
          //   openInfowindow(county, [40.4000262645, -3.683351686], 5324)
          //   return false;
          // });
                // openInfowindow(, [40.4000262645, -3.683351686], 5324)
                // county.hide();
                // state.show();
                // map.setView([40, -98], 4, { animate: true});
            });

      });

      // L.tileLayer('https://dnv9my2eseobd.cloudfront.net/v3/cartodb.map-4xtxp73f/{z}/{x}/{y}.png', {
      //   attribution: 'Mapbox YO yo yo<a href="http://mapbox.com/about/maps" target="_blank">Terms &amp; Feedback</a>'
      // }).addTo(map);

      // // change the query for the first layer
      // var countyOptions = {
      //   sql: "SELECT * FROM cb_2013_us_county_500k",
      //   // cartocss: "#example_cartodbjs_1{marker-fill: #109DCD; marker-width: 5; marker-line-color: white; marker-line-width: 0;}"
      // }

      // var stateOptions = {
      //   sql: "SELECT * FROM ne_50m_admin_1_states",
      //   // cartocss: "#example_cartodbjs_1{marker-fill: #109DCD; marker-width: 5; marker-line-color: white; marker-line-width: 0;}"
      // }

    }  

    $(function() {
        init();
        $( "#slider" ).slider();
    })

    </script>

    <!--
    <script type="infowindow/html" id="infobox_template">
        BLA BLA Im an infowindow / box / whatever
    </script>
    -->

  <script type="infowindow/html" id="infowindow_template">
    <div class="infowindow-custom" >
      <a href="#close" class="cartodb-popup-close-button close">x</a>
      <div class="cartodb-popup-content">
        <div class="content" style="padding:20px">
          {{content.data.name}} bla
        </div>
      </div>
      <div class="cartodb-popup-tip-container"></div>
    </div>

  </script>

    <style>
    #map {
        height: 500px;  
 
    }

    </style>


{% endblock %}

{% block title %}CartoDB /w django-bootstrap3{% endblock %}

{% block content %}
    
    <div class="row">
        <div class="col-md-8">
        This is <em>bootstrap3</em> for <strong>Django</strong>.

        <select id="location">
            <option value="1" data-lat="57" data-lon="-122" data-sql="">Test Location 1</option>
            <option value="2" data-lat="37" data-lon="-122" data-sql="">Test Location 2</option></select>
        <div id="map"></div>
        </div>
        <div class="col-md-4">
            <div class="global-ui">
                [global UI here]
            </div>
            <div class="detail-ui" style="display: none;">
                [detail UI here]
                <div id="slider"></div>
                <button type="button" id="back" class="btn btn-primary">Go Back</button>
            </div>
        </div>

    </div>

{% endblock %}